@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Black\ Future.otf');
  font-weight: normal;
  font-style: normal;
}

.testFont {
  font-family: 'Rubik', sans-serif;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.card-hover-effect {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16rem; /* 64 units */
  height: 24rem; /* 96 units */
  padding: 1rem;
  background-color: black;
  border-radius: 0.5rem; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Thin white border */
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Subtle white shadow */
  overflow: hidden;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.card-hover-effect:hover {
  box-shadow: 0 8px 30px #FF8321; /* Golden shadow on hover */
  transform: translateY(-8px); /* More noticeable lift effect */
}